<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BODY_SENSORS"
        android:maxSdkVersion="35" />
    <uses-permission
        android:name="android.permission.BODY_SENSORS_BACKGROUND"
        android:maxSdkVersion="35" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />

    <application>
        <service
            android:name=".HyroxExerciseForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="health|location" />
    </application>
</manifest>
